    <!doctype html>
    <html ng-app="todoApp">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="main.js"></script>
      </head>
      <body>
        <h2>Sorter</h2>
		
        <div ng-controller="TodoListController as todoList">
			<h3>To sort:</h3>
			<textarea ng-model="todoList.incoming">
		
			</textarea>
			<form ng-submit="todoList.start()">
				<input class="btn-primary" type="submit" value="start">
			</form>
			
			<div ng-hide="todoList.state.toExec">
			<p>{{todoList.state.left[0].text}}</p>
			<form ng-submit="todoList.first()">
				<input class="btn-primary" type="submit" value="first" accesskey="a">
			</form>
			<p>{{todoList.state.right[0].text}}</p>
			<form ng-submit="todoList.second()">
				<input class="btn-primary" type="submit" value="second" accesskey="s">
          </form>
		  </div>
          <ul>
            <li ng-repeat="ele in todoList.state.left">
              <label class="checkbox">
                <span>{{ele.text}}</span>
              </label>
            </li>
          </ul>
		  
		  <ul>
            <li ng-repeat="ele in todoList.state.right">
              <label class="checkbox">
                <span>{{ele.text}}</span>
              </label>
            </li>
          </ul>
		  
		  <ul ng-hide="todoList.state.finished">
			<li>results</li>
            <li ng-repeat="ele in todoList.state.mergeResult">
              <label class="checkbox">
                <span>{{ele.text}}</span>
              </label>
            </li>
          </ul>
		  
		  <ul ng-show="todoList.state.finished">
			<li>Sort results</li>
            <li ng-repeat="ele in todoList.state.work[0]">
              <label class="checkbox">
                <span>{{ele.text}}</span>
              </label>
            </li>
          </ul>
		  
        </div>
      </body>
    </html>

