<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<html ng-app="todoApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="main.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
        textarea.list-items {
            height: 400px;
        }

        .first-element {
            margin-top: 40px
        }
    </style>

</head>


<body>
<div class="container-fluid first-element" ng-controller="TodoListController as todoList">
    <div id="formBlock" class="form-group" ng-show="todoList.state.finished">
        <div id="list1">
            <label for="isList1Sorted">\/ Sorted</label>
            <input id="isList1Sorted" type="checkbox" ng-model="todoList.isIncoming1Sorted">
            <button type="button" class="btn btn-primary" ng-click="todoList.activateList2()" ng-hide="todoList.isIncoming2Activated">Add list</button>
            <textarea id="list1Items" placeholder="List to sort" class="form-control list-items" ng-model="todoList.incoming1"></textarea>
        </div>
        <div id="list2" ng-show="todoList.isIncoming2Activated">
            <label for="isList2Sorted">\/ Sorted</label>
            <input id="isList2Sorted" type="checkbox" ng-model="todoList.isIncoming2Sorted">
            <button type="button" class="btn btn-primary" ng-click="todoList.activateList3()" ng-hide="todoList.isIncoming3Activated">Add list</button>
            <textarea id="list2Items" placeholder="List to sort" class="form-control list-items" ng-model="todoList.incoming2"></textarea>
        </div>
        <div id="list3" ng-show="todoList.isIncoming3Activated">
            <label for="isList3Sorted">\/ Sorted</label>
            <input id="isList3Sorted" type="checkbox" ng-model="todoList.isIncoming3Sorted">
            <textarea id="list3Items" placeholder="List to sort" class="form-control list-items" ng-model="todoList.incoming3"></textarea>
        </div>
        <label for="question">Question</label>
        <input id="question" type="text" list="questions" autocomplete="off" class="form-control" name="userName" ng-model="todoList.question">
        <datalist id="questions">
            <option value="Исполнение чего принесет большую ценность тебе?"/>
            <option value="Что хочется делать прямо сейчас?"/>
            <option value="Исполнение чего принесет большую ценность проекту?"/>
            <option value="Что быстрее довести до конца?"/>
            <option value="Будет хуёвее, если я не сделаю что?"/>
            <option value="Что мутнее?"/>
            <option value="Что хочется отложить больше?"/>
        </datalist>


        <button type="button" class="btn btn-primary" ng-click="todoList.start()">Start</button>
    </div>

    <div id="compareWindow" class="row" ng-hide="todoList.state.finished">
        <h1 class="text-center">{{todoList.question}}</h1>
        <div class="row"></div>
        <div class="col-md-6">
            <ul class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" ng-repeat-start="ele in todoList.state.left" ng-if="$first" accesskey="a"
                        ng-click="todoList.first()">{{ele.text}}
                </button>
                <li class="list-group-item" ng-repeat-end ng-if="!$first">{{ele.text}}</li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" ng-repeat-start="ele in todoList.state.right" ng-if="$first" accesskey="s"
                        ng-click="todoList.second()">{{ele.text}}
                </button>
                <li class="list-group-item" ng-repeat-end ng-if="!$first">{{ele.text}}</li>
            </ul>
        </div>
    </div>

    <div id="runtimeMergeResults" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 weel" ng-hide="todoList.state.finished">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="ele in todoList.state.mergeResult">{{ele.text}}</li>
            </ul>
        </div>
    </div>

    <div id="finalResults" class="row" ng-show="todoList.state.finished && todoList.initListOrder">
        <div class="col-md-6">
            <p>Sort results</p>
            <table class="table">
                <tr>
                    <th scope="col">Text</th>
                    <th scope="col">List #</th>
                </tr>
                <tr ng-repeat="ele in todoList.state.work[0]">
                    <td>{{ele.text}}</td>
                    <td>{{ele.listNumber}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <p>Sort results (init list order)</p>
            <table class="table">
                <tr>
                    <th scope="col">List #</th>
                    <th scope="col">Global order</th>
                    <th scope="col">Text</th>
                </tr>
                <tr ng-repeat="ele in todoList.initListOrder">
                    <td>{{ele.listNumber}}</td>
                    <td>{{ele.order}}</td>
                    <td>{{ele.text}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>

